.row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  .panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
  }
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }
  .huge {
    font-size: 0px;
  }

  .panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .panel {
    margin-right: 10px;
    width: 335px;
    height: 150px;
  }
  .panel-green {
    border-color: #5cb85c;
  }
  .panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
  }
  .panel-green > a {
    color: #5cb85c;
  }
  .panel-green > a:hover {
    color: #3d8b3d;
  }
  .panel-red {
    border-color: #d9534f;
  }
  .panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
  }
  .panel-red > a {
    color: #d9534f;
  }
  .panel-red > a:hover {
    color: #b52b27;
  }
  .panel-yellow {
    border-color: #f0ad4e;
  }
  .panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
  }
  .panel-yellow > a {
    color: #f0ad4e;
  }
  .panel-yellow > a:hover {
    color: #df8a13;
  }
  @media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
  }